{% extends "base.html" %} {% block content %}

<script src="{{ url_for('static', filename='js/image.js') }}" type="text/javascript"></script>    

<h2>This will takes a few minutes. Go taking a cup of coffee</h2>
<div>
    <div class="badge badge-info" id="loading-badge">Loading...</div>
    <div>
        <img id="result" src="{{ url_for('streaming') }}">
    </div>
    <div class="loader" style="display:none;">
    </div>
    <div id="hidden-div" style="display: none;">
        <a id="stop-button" href="{{ url_for('static', filename='imgs/result.jpg') }}" download="logo_removal.jpg" class="btn btn-primary">STOP</a>
        <span class="badge">
            click when you feel this is good enough
        </span>
    </div>
</div>

{% endblock %}
