{% extends "base.html" %} {% block content %}

<h2>Image Classifier</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-run" onclick="http://localhost:5000/run">Run</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
    <div>
        <img id="my_image">
            {% for im_name in data: %}
            <script>
                document.getElementById("my_image").src = 'http://localhost:5000/static/input/logo-ft.png';
            </script>
            {% endfor %}
        </img>
    </div>
    
</div>

{% endblock %}